<!--
	Installed from https://ui.angular-material.dev/api/registry/
	Update this file using `@ngm-dev/cli update multi-column/full-width-with-narrow-sidebar-header`
-->

<nav class="navigation-rail">
  <div class="menu-fab">
    <a>
      <img
        class="nav-brand-logo"
        src="https://ui.angular-material.dev/app-ui/logo.svg"
        alt="Your Company"
      />
    </a>
  </div>
  <div class="segment">
    @for (menuItem of menuItems(); track menuItem.id) {
    <a
      (click)="makeActive(menuItem.id)"
      [class]="classNames('nav-item', menuItem.isActive ? 'active' : '')"
    >
      <span [class]="classNames('icon-container')">
        <mat-icon>{{ menuItem.icon }}</mat-icon>
      </span>
      <span [class]="classNames('label-text')">{{ menuItem.label }}</span>
    </a>
    }
  </div>
</nav>
