/*
	Installed from https://ui.angular-material.dev/api/registry/
	Update this file using `@ngm-dev/cli update free-badges/badge-1`
*/

@use '@angular/material' as mat;

:host {
  @include mat.chips-overrides(
    (
      label-text-weight: 600,
      label-text-line-height: normal,
      label-text-color: currentColor,
      with-icon-icon-color: currentColor,
      hover-state-layer-opacity: 0,
    )
  );
}
