<!--
	Installed from https://ui.angular-material.dev/api/registry/
	Update this file using `@ngm-dev/cli update free-authentication/login-email-password`
-->

<form
  [formGroup]="loginForm"
  (ngSubmit)="login()"
  class="p-4 max-w-7xl mx-auto"
>
  <mat-card appearance="outlined">
    <mat-card-content>
      <div class="grid md:grid-cols-2 gap-6">
        <div class="flex flex-col space-y-4 p-4">
          <img
            ngSrc="https://ui.angular-material.dev/app-ui/logo.svg"
            alt="Logo"
            height="48"
            width="48"
            class="inline"
          />
          <h1 class="text-3xl">Sign in</h1>
          <p>to continue to Application</p>

          @if (showAlert()) {
          <div
            [ngClass]="{
              'bg-blue-100 text-blue-800': alertColor() === 'blue',
              'bg-red-100 text-red-800': alertColor() === 'red',
              'bg-green-100 text-green-800': alertColor() === 'green'
            }"
            class="p-4 rounded mb-4"
          >
            {{ alertMsg() }}
          </div>
          }
        </div>

        <div class="flex flex-col space-y-2 p-4 md:mt-12">
          <mat-form-field class="w-full">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              placeholder="Enter Email"
              formControlName="email"
            />
            @if (email?.touched && email?.hasError('required')) {
            <mat-error>
              <mat-icon class="form-field-error-icon">error</mat-icon>
              Email is required
            </mat-error>
            } @if (email?.touched && email?.hasError('email')) {
            <mat-error>
              <mat-icon class="form-field-error-icon">error</mat-icon>
              Email is invalid
            </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="password"
            />
            @if (password?.touched && password?.hasError('required')) {
            <mat-error>
              <mat-icon class="form-field-error-icon">error</mat-icon>
              Password is required
            </mat-error>
            } @if (password?.touched && password?.hasError('minlength')) {
            <mat-error>
              <mat-icon class="form-field-error-icon">error</mat-icon>
              Password must be at least 6 characters
            </mat-error>
            }
          </mat-form-field>
          <div class="density-3 forgot-email-container">
            <a mat-button>Forgot password?</a>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <a mat-button>Create account</a>
      <button
        mat-flat-button
        type="submit"
        [disabled]="loginForm.invalid || inSubmission()"
      >
        Sign in
      </button>
    </mat-card-actions>
  </mat-card>
</form>
