<!--
	Installed from http://localhost:4000/api/registry/
	Update this file using `@ngm-dev/cli update free-area-charts/area-chart-1`
-->

<div class="mx-auto max-w-lg">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Social Media Analytics</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="mt-6 h-32" #chartImage>
        <canvas
          baseChart
          [data]="chartData"
          [options]="chartOptions"
          [type]="chartType"></canvas>
      </div>
      <mat-list>
        @for (item of summary; track item.name; let last = $last) {
          <mat-list-item class="density-2">
            <span
              class="h-1! w-3! rounded-sm"
              [style.background]="item.color"
              aria-hidden="true"
              matListItemIcon></span>
            <span class="flex items-center justify-between w-full">
              <span class="text-body-medium font-body-small">{{
                item.name
              }}</span>
              <span class="text-body-medium font-medium text-right">{{
                item.value | number
              }}</span>
            </span>
          </mat-list-item>
          @if (!last) {
            <mat-divider class="border-outline-variant!" />
          }
        }
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
